body{
    background-color: #222222;
    color: white;
    font-family: poppinsregular;
    max-width: 100vw;
    margin: 0 auto;
    height: auto;
    /* padding: 15px; */
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;
    margin: auto;
}

#title{
    width: 12vw;
    height: 15vh;
}
#title img{
    width: 100%;
    height: 100%;
}


#nav-menu {
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
}

.menu-logo {
    width: 15%;
    height: 80px;
}

.menu-logo img {
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
}

#menu-links {
    width: 85%;
    display: flex;
    justify-content: flex-end;
}

#menu-links ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.nav-item {
    position: relative;
    display: inline-block;
    margin: 0px 15px;
}


.icon {
    display: none;
}

.mobile-menu {
    display: none;
}

#menu-links li{
    display: inline-block;
    margin:0 20px;
}

#menu-links ul a{
    color: white;
} 

#menu-links ul a:hover{
    color: rgb(132, 14, 201);
    transition: 0.3s all;
} 

#menu-links #inscreva-se-btn{
    border: 2px solid rgb(132, 14, 201);
    padding:  10px;
    border-radius: 15px;
}

#menu-links #inscreva-se-btn:hover{
    background-color: rgb(132, 14, 201);
    color: white;
}


#Topo {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
    /* margin-top: 1px; */
    height:  98vh;
}
#Topo article{
    margin-right: 6vw; 
    width: 530px;
    height: 530px;
}
#Topo article img{
    width: 90%;
    height: 90%;
}

#conteudoTopo{
    max-width: 90vw;
    margin: auto;
    height: 70vh;
}

#conteudoTopo h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
    line-height: 35px;

}

#conteudoTopo .txtAzulClaro{
    color: #8d2cc6;
}

#conteudoTopo span{
    color: #840ec9;
}
#conteudoTopo .txtLaranja{
    color: #ffa500;
}

#conteudoTopo p{
    line-height: 28px;
    max-width: 44vw;
    font-size: 22px;
    font-family: poppinslight;
    line-height: 35px;

}

img{
    width: 580px;
}

#comentarios{
    margin-top: 3vh;
    background-color: #fff;
    border-radius: 20px;
}

#servicos{
    height: 98vh;
    width: 80vw;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    /* justify-content: space-around; */
    gap: 30vw;
    flex-direction: row
}

#tituloServicos h1{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
    color: #840ec9;
    text-align: center;
    width:  auto;
    margin-top: 3vh;
    margin-bottom: 6vh;
}

#tituloServicos h3{
    text-align: center;
    /* margin-top: -2vh; */
    margin-bottom: -5vh;
}

#servicosMobile, #sobreNosImgMobile{
    display: none;
}

.cardRoxo{
    width: 17vw;
    height: 40vh;
    border-radius: 15px;       
}

.txtCardRoxo{
    position: absolute;
    z-index: 2;
    margin-left: 1.5vw;
    width: 15vw;
}

.cardRoxo h2{
    text-align: center;
    color: #fff;
    font-size: 29px;
    margin-left: 5vw;
}

.cardRoxo p{
    width: 100%;
    line-height: 30px;
    font-size: 16px;
}
.quebraLinha{
    width: 25vw;
    position: absolute;

}
.linhaVertical{
    position: absolute;
    margin-top: 20vh;
    width: 90%;
}


.cardRoxo a{
    text-decoration: none;
    color: #fff;
}
.cardRoxo a:hover{
    text-decoration: underline;
    color: #ffa500;
}

.cardLaranja{
    width: 17vw;
    height: 40vh;
    border-radius: 15px;
    
}

.txtCardLaranja{
    position: absolute;
    z-index: 2;
    margin-left: 1.5vw;
    width: 15vw;

}

.cardLaranja h2{
    text-align: center;
    color: #fff;
    font-size: 29px;
    margin-left: 5vw;
    
}

.cardLaranja p{
    
    width: 100%;
    line-height: 30px;
    font-size: 16px;
}

.quebraLinhaLaranja{
    width: 25vw;
    position: absolute;

}
.linhaVerticalLaranja{
    position: absolute;
    margin-top: 20vh;
    width: 98%;
}

.cardLaranja a{
    text-decoration: none;
    color: #fff;
}
.cardLaranja a:hover{
    text-decoration: underline;
    color: #840ec9;
}





#tituloSobreNos{
    text-align: center;
    color: #840ec9;
    text-decoration: none;
    border: none;
}

#sobreNos{
    width: 95vw;
    height: 90vh;
    /* background-color: green; */
}
#sobreNos img{
    width: 100%;
    height: 100%;
}

#Notificacao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 1px; */
    height: fit-content;
    width: auto;
    padding-left: 3vw;
    margin-bottom: 30px;
    /* margin-bottom: 30px; */
}
#Notificacao article{
    margin-right: 6vw;
}

#conteudoNotificacao{
    width: max-content;
    margin: auto;
    height: fit-content;
}

#conteudoNotificacao .txtRoxo{
    color: #8d2cc6;
}

#conteudoNotificacao span{
    color: #840ec9;
}
#conteudoNotificacao .txtLaranja{
    color: #ffa500;
}

#conteudoNotificacao p{
    line-height: 28px;
    max-width: 44vw;
    font-size: 22px;
    font-family: poppinslight;
}

img{
    width: 580px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #840ec9;
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
#comentarios{
    margin-top: 3vh;
    background-color: #fff;
    border-radius: 20px;
}

#conteudoNotificacao h2{
    font-size: 40px;
    margin: 0;
}
#conteudoNotificacao input , #comentarios{
    background-color: #ccc;
    box-shadow: rgb(10, 10, 10) 5px 5px 5px;

}

#conteudoNotificacao input:focus , #comentarios:focus
{
    border: 2px solid #840ec9;
    outline-offset: 0px;
    outline: none;
}
#btnSeguinte{
    background-color: #840ec9;
    font-size: 20px;
    width: 15vw;
    margin-top: 5vh;
    border: #840ec9 solid 1px;
    border-radius: 15px;
    box-shadow: rgb(10, 10, 10) 5px 5px 5px;
}



footer {
    position: relative;
    width: 95.85vw;
    height: auto;
    background-color: #250042;
    padding-left: 3vw;
    margin: 0;
    max-width: 100vw;
    display: flex;
}

#footer-top {
    width: 15vw;
    display: flex;
    justify-content: space-between;
    margin: 0;
    border-right: 1px solid #fff;
}

#div-esquerda-rodape {
    width: 90%;
    height: auto;
    margin-top: 4vh;
}

#div-esquerda-rodape img {
    width: 40%;
    height: 30%;
}

#div-esquerda-rodape p {
    color: #ccc;
    font-size: 12px;
    margin-bottom: 10px;
}

#div-direita-rodape {
    width: 20%;
    height: 100%;
}

#opcoes {
    margin-left: 25px;
    background-color: #250042;
    color: #fff;
}

#opcoes option {
    background-color: #250042;
    color: #fff;
}

#btn-linguagem {
    width: 150px;
    display: flex;
    border: 1px solid #fff;
    border-radius: 5px;
    /* padding: 5px; */
    margin-left: 95px;
}

#btn-linguagem img {
    width: 20px;
}

#footer-bottom {
    width: 66vw;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 10px;
    /* margin-right: 3vw; */
    padding-right: 3vw;
}

.divisoes {
    width: 25%;
    height: 100%;
    /* padding: 10px; */
}
footer ul{
    display: flex;
    flex-direction: column;
    width: auto;
}

footer li{
    /* margin: 7px auto; */
    text-align: left;

}
#hSuporte{
    margin-left: 10vw;
}
.divisoes h6 {
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    margin-left: 6vw;
    margin-bottom: -3px;
}

.divisoes a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}


#icons {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 18px;
    margin-left: 4vw;
}
#icons img{
    width: 120%;
    height: auto;
}

#sliderMobile{
    display: none;
}

/**/

@media only screen and (max-width:480px) {

    body{
        height: auto;
    }
    body img{
        display: block;
        max-width: 98%;
    }


    header {
        width: 94%;
        margin-bottom: 25px;
    }
    #menu-links,
    #menu-pesquisar
    {
        display: none;
    }
    #title{
        width: 30vw;
        height: 15vh;
    }
    #title img{
        width: 100%;
        height: 100%;
    }
    .nav-item {
        display: none;
        text-align: center;
        width: 100%;
    }

    .menu-responsivo {
        position: absolute;
        left: 65%;
    }

    .nav-item {
        display: none;
    }

 
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .mobile-menu.open {
        width: 100%;
    }

    .mobile-menu ul li {
        background-color: rgb(51, 51, 51);
        width: 100%;
        margin: 0px auto;
        text-align: center;
        padding: 5px;
    }

    .mobile-menu ul li a {
        color: #001242;
        width: 100%;
        text-align: center;
        font-size: 18px;
        color: #8d2cc6;
    text-decoration: none;
}


    .mobile-menu ul li:hover {
        background-color: #5a5a5a;
        color: #bb62ff;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .icon{
        display: block;        
        width: 100px;
        height: 100px;
        margin-left: 9vw;
    }

    .open {
        display: block;
    }

    
    #Topo{
        display: flex;
        flex-direction: column;
        width: 98%;
        height: auto;
    }
    #conteudoTopo{
        height: auto;
        width: 98%;
    }
    #conteudoTopo h2{
        width: 100%;
        text-align: center;
        line-height: 55px;
        margin: 3vh 0;
    }
    #conteudoTopo p{
        display: block;
        width: 96%;
        max-width: 100%;
        margin: auto;
        margin-bottom: 4vh;
    }
    #Topo article{
        display: none;
    }
    #servicos, #sobreNosImg, #Notificacao img{
        display: none;        
    }
    #servicosMobile{
        display: block;   
        width: 98%;
        height: auto;
    }
    #servicosMobile h2{
        color: #ffa500;
        text-align: center;
        margin-top: 10vh;
    }
    .txtCardRoxoMobile{
        width: 94%;
        margin: auto;
        font-size: 20px;
        line-height: 30px;
    }
    .txtCardRoxoMobile .txtLaranja{
        display: bolck;
        color: #ffb01d;
    }
    .txtCardRoxoMobile a{
        color: #bb62ff;
    }
    .txtCardRoxoMobile .imgLaranja{
        display: block;
        width: 90%;
        margin: auto;
        max-width: 100%;
        height: auto;
    }

    .txtCardLaranjaMobile{
        width: 94%;
        margin: auto;
        font-size: 20px;
        line-height: 30px;
    }
    .txtCardLaranjaMobile .txtRoxo{
        display: bolck;
        color: #840ec9;
        margin: 0;
        line-height: 30px;
    }
    .txtCardLaranjaMobile a{
        color: #bb62ff;
    }
    .txtCardLaranjaMobile .imgRoxa{
        display: block;
        width: 90%;
        margin: auto;
        max-width: 100%;
        height: auto;
    }

    #sliderMobile{
        display: block;
    }

    #SobreNos{
        width: 98%;
        height: auto;
    }
    #sobreNosImgMobile{
        display: block;
        margin: 0 auto;
        width: 96%;
        height: fit-content;
        margin-top: -10vh;
    }
    
    #Notificacao{
        height: auto;
        max-width: 99%;
        width: 95%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    #conteudoNotificacao{
        max-width: 98%;
        width: 94%;
        margin: auto;
    }
    #conteudoNotificacao h2{
        text-align: center;
    }
    #conteudoNotificacao button{
        width: 40vw;
    }
    #conteudoNotificacao p{
        display: block;
        width: 100%;
        max-width: 100%;
        margin: auto;
        margin-top: 5vh;
    }
    #conteudoNotificacao form, input, #comentarios{
        display: block;
        width: 90%;
        max-width: 100%;
        margin: auto;
    }
    #conteudoNotificacao input{
        margin: 3vh 0;
    }

    footer{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    #footer-top{
        border: 0;
        border-bottom: 1px solid #fff;
        width: 100%;
    }
    #footer-top #div-esquerda-rodape img{
        width: 50%;
        max-width: 40%;
        height: 110px;
    }
    #footer-bottom{
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .divisoes{
        width: 45%;
    }
    #endereco li{
        display: flex;
        justify-content: flex-start;
        margin: 5px 0;
    }

}